<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="footer.css" />
    <title>Footer</title>
  </head>
  <body>
    <footer class="footer">
      <div class="container">
        <div class="footer_row">
          <div class="logo">
            <a href="#link" class="link">
              <img class="logo_pic" src="../../images/umwics_logo.png" />
            </a>
          </div>
          <div class="footer_links">
            <a href="#link" class="link"> Home </a>
            <a href="#intro" class="link"> About </a>
            <a href="#link" class="link"> Members </a>
            <a href="#link" class="link"> Events </a>
            <a href="#link" class="link"> Contact </a>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
