a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

.footer {
  height: 50px;
  max-width: 1100px;
  padding: 40px;
  position: absolute;
  bottom: 0;
  width: 1050px;
}

.footer_row {
  display: flex;
  border-top: 0.5px solid rgba(161, 161, 161, 0.727);
  padding: 30px 0 0 0;
  justify-content: space-between;
  align-items: center;
}

.footer_links {
  display: flex;
  justify-content: row;
}

.link {
  font-size: 16px;
  color: rgba(247, 247, 247, 0.928);
  margin: 0px 11px 0px 11px;
}
