<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
    </style>
    <link rel="stylesheet" href="./members.css" />
    <link rel="stylesheet" href="../navbar/navbar.css" />
    <link rel="stylesheet" href="../footer/footer.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <nav class="navbar">
        <a href="#" class="active">Home</a>
        <a href="#">About</a>
        <a href="#">Members</a>
        <a href="#">Events</a>
        <a href="#">Contact Us</a>
      </nav>
      <div class="wrapper">
        <div class="members_container">
          <div class="title_container">
            <div class="title">Members</div>
            <div class="sub-title">These are the 2023/2024 members in WCS</div>
          </div>
          <div class="cards_container">
            <div class="card">
              <div class="user_info">
                <div class="icon">
                  <img src="/pictures/jillian.jpg" alt="" />
                </div>
                <div class="card_credentials">
                  <p class="name">Jillian Manguba</p>
                  <p class="role">President</p>
                </div>
              </div>
              <div class="user_description">
                <div class="description">
                  Hello there! 👋My name is Jillian Manguba and I am the Event
                  Coordinator for the 2022-2023 school year! I'm super excited
                  for all the events we have planned out for the upcoming year!
                  I hope to see you around 🤍
                </div>
              </div>
            </div>
            <div class="card">
              <div class="user_info">
                <div class="icon">
                  <img src="/pictures/dhvani.jpg" alt="" />
                </div>
                <div class="card_credentials">
                  <p class="name">Dhvani Thakkar</p>
                  <p class="role">Vice President</p>
                </div>
              </div>
              <div class="user_description">
                <div class="description">
                  👋 Hello everyone, I am Dhvani Thakkar, the Social Media
                  Coordinator of the 2022-2023 WICS Executive team💙. I am a
                  second-year student majoring in Computer Science 👩‍💻 and
                  Minoring in Statistics 📊. I will be handling the WICS social
                  media accounts for this academic year so be ready to view some
                  takeovers and vlogs by multi talented women in this field
                  throughout the year on the WICS Instagram✅
                </div>
              </div>
            </div>
            <div class="card">
              <div class="user_info">
                <div class="icon">
                  <img src="/pictures/nataniella.jpg" alt="" />
                </div>
                <div class="card_credentials">
                  <p class="name">Nataniella Ogogo</p>
                  <p class="role">Treasurer</p>
                </div>
              </div>
              <div class="user_description">
                <div class="description">
                  Hi! My name is Nataniella, but you can call me Ella. I’m the
                  WICS Treasurer for the 2022/2023 school year! I am in my 3rd
                  year studying Comp Sci. 💙
                </div>
              </div>
            </div>
            <div class="card">
              <div class="user_info">
                <div class="icon">
                  <img src="/pictures/fatima.jpg" alt="" />
                </div>
                <div class="card_credentials">
                  <p class="name">Fatima</p>
                  <p class="role">Events Coordinator</p>
                </div>
              </div>
              <div class="user_description">
                <div class="description">
                  Hi, I'm Fatima, the Events Coordinator for the 2023-2024
                  school year. I'm excited about all the events we have planned
                  and I hope to see you there! Dont be shy to reach out if there
                  is anything I can help with or to just say hi :))
                </div>
              </div>
            </div>
            <div class="card">
              <div class="user_info">
                <div class="icon">
                  <img src="/pictures/ara.jpg" alt="" />
                </div>
                <div class="card_credentials">
                  <p class="name">Ara</p>
                  <p class="role">Outreach Coordinator</p>
                </div>
              </div>
              <div class="user_description">
                <div class="description">
                  Hi everyone, I’m Ara! I’m the 2022-2023 Outreach Coordinator
                  for WICS. My main goal for this position is to create more
                  volunteering opportunities for students. I’m currently in my
                  second year of university studying Computer Science and
                  Psychology! My hobbies include reading books and listening to
                  music, especially indie rock. I LOVE to eat chocolate chip
                  cookies and drink bubble tea! I’m so happy to be a part of
                  such a supportive team, and I can’t wait to share with y’all
                  what we have planned for the year !!
                </div>
              </div>
            </div>
            <div class="card">
              <div class="user_info">
                <div class="icon">
                  <img src="/pictures/brooklynn.jpg" alt="" />
                </div>
                <div class="card_credentials">
                  <p class="name">Brooklynn Woodr</p>
                  <p class="role">Social Media Coordinator</p>
                </div>
              </div>
              <div class="user_description">
                <div class="description">
                  👋 Hello everyone, I am Dhvani Thakkar, the Social Media
                  Coordinator of the 2022-2023 WICS Executive team💙. I am a
                  second-year student majoring in Computer Science 👩‍💻 and
                  Minoring in Statistics 📊. I will be handling the WICS social
                  media accounts for this academic year so be ready to view some
                  takeovers and vlogs by multi talented women in this field
                  throughout the year on the WICS Instagram✅
                </div>
              </div>
            </div>
            <div class="card">
              <div class="user_info">
                <div class="icon">
                  <img src="/pictures/ayesha.jpg" alt="" />
                </div>
                <div class="card_credentials">
                  <p class="name">Ayesha Qadir</p>
                  <p class="role">Interclub Liason</p>
                </div>
              </div>
              <div class="user_description">
                <div class="description">
                  Hey everyone!! I'm Ayesha Qadir, this year's Interclub Liason
                  for WICS! I'm currently in my first(second?) year of a joint
                  CS-Math degree. If I'm not doing math homework, Im probably
                  drawing, writing, crocheting, or sewing while listening(and
                  re-listening) to podcasts. I'm excited to meet all our
                  wonderful WICS members this year! I love chatting, so if you
                  see me around feel free to say hi!
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <footer class="footer">
        <div class="footer_container">
          <div class="footer_row">
            <div class="logo">
              <p class="link">@ 2024 One Agency. All rights reserved.</p>
            </div>
            <div class="footer_links">
              <a href="#home" class="link"> Home </a>
              <a href="#about" class="link"> About us </a>
              <a href="#members" class="link"> Members </a>
              <a href="#events" class="link"> Events </a>
              <a href="#contact" class="link"> Contact </a>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <script>
      // JavaScript to handle the active class
      const navbarLinks = document.querySelectorAll(".navbar a");

      navbarLinks.forEach((link) => {
        link.addEventListener("click", function () {
          navbarLinks.forEach((innerLink) =>
            innerLink.classList.remove("active")
          );
          this.classList.add("active");
        });
      });
    </script>
  </body>
</html>
